body {
	background: #FCFCFF;
	font-family: 'IBM Plex Sans', sans-serif;
}

header {
	background: #fff;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 22px;
}

main {
	margin: 20px 40px 0 40px;
	line-height: 2;
	position: relative;
	display: flex;
    justify-content: space-between;
}

main p span {
    font-size: 16px;
    opacity: 0;
}

main p span i {
    font-style: italic;
    font-size: 14px;
}

aside {
    margin: 0 100px 0 10px;
	padding: 20px;
	background: #eef2fe;
	border-radius: 8px;
	text-align: center;
	min-width: 300px;
	max-width: 300px;
    max-height: 232px;
    opacity: 0;
}

aside span {
	font-weight: 800;
	font-size: 16px;
}

aside input {
	border: none;
	padding: 6px;
	text-align: right;
	width: 100px;
}

aside button {
	font-size: 13px;
	border: none;
	background: #86a4ff;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 20px;
}

.done {
	color: green;
}

.training {
	color: orange;
}

img {
	position: absolute;
	width: 700px;
	right: 0;
	bottom: -97px;
}
.hello{
    font-size: 18px;
    font-style:italic;
}


/* Loader */

.loading {
	display: flex;
    align-items: center;
    opacity: 0;
}
.hidden{
    display: none;
}

.spinner {
    margin-left: 10px;
	width: 20px;
	height: 20px;
	position: relative;
	/* text-align: center; */
	-webkit-animation: sk-rotate 2.0s infinite linear;
	animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #a5beff;
	border-radius: 100%;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes sk-rotate {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg)
	}
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/* media-queries */
@media only screen and (max-width: 1100px){
    aside {
        margin: 0 50px 0 10px;
    }
}

@media only screen and (max-width: 830px) {
    main {
        flex-direction: column;
    }

    main p {
        background: #fff;
        padding: 10px;
        border-radius: 8px;
        max-width: 485px;
    }

    aside {
        margin: 20px 0 0 0;
    }
}